body {
    margin: 0px;
}

div.homepage {
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    background-color: aquamarine;
}

div.aboutpage {
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    background-color: brown;
}

div.portfoliopage {
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    background-color: yellow;    
}

div.contactpage {
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    background-color: blue;    
}